.inputContainer{
    display: flex;
    height: 85vh;/*calc(100vh - var(--headerHeight) - var(--footerHeight)); */
    flex-direction: column;
    border: 1px black solid;
}

.inputContainerHeader{
    padding: 1rem;
}

.inputContainerFooter{
    display: flex;
    margin: 2rem 1rem 1rem 1rem;
    justify-content: space-between;
}

.buttonGroup{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.textFieldsContainer{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.textFieldsGroup{    
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 1rem;
}